.nav{
  position: static;
  z-index: 900;
  left: 0;
  right: 0;
  top: 0;
  background-color: #fdde4a;
}
.input {

textalign:center;
fontsize:0.4rem;
height:1rem;
width :5.5rem;
borderRadius:4px;
border: 1px solid #c8cccf;
color:#6a6f77;
mozappearance: none;
display:block;
outline:0;
padding:0 0.2rem;
textdecoration:none,
}

.search_form{
  width: 85%;
  overflow: hidden;
  height: 1.5rem;
  line-height: 1.0rem;
  color: #877a73;
  background-color: #fdde4a;
  font-size: 0;
  display: inline-block;
}
.input_form{
  width: 90%;
  height: 1.333rem;
  line-height: 1.333rem;
  float: left;
  display: inline-block;
}
.search_input{
  display: block;
  width: 100%;
  height: .8rem;
  margin: .28rem .5rem;
  background-color: #fff;
  border-radius: 10px;
  font-size: .373rem;
  text-indent: .6rem;
  padding: 0 .24rem;
  box-sizing: border-box;
  background-image: url(//img6.lukou.com/js/img/search.7601129.png);
  background-repeat: no-repeat;
  background-size: .45rem auto;
  background-position: .267rem .15rem;
}
.p{
  line-height: .87rem;

}
.label1{
  color:#717171;
  height: 1rem;
  vertical-align:middle;
  margin-left: 0.2rem;
}
.label{
  vertical-align:middle;
  paddingRight:8px;
  paddingLeft:5px;
  color:#717171;
  height: 1rem;
  margin-left: 0.5rem;

}

/*.label:active{*/
  /*vertical-align:middle;*/
  /*color: #717171;*/
  /*border-bottom: 4px solid #43240c;*/
/*}*/

.div{
  height: 1rem;
}

.img{
  vertical-align:middle;
  width: 0.5rem;
  height: 0.5rem;
}

.img2{
  height: 0.5rem;
  width: 0.5rem;
  margin-top: 0.25rem;
  margin-right: 0.2rem;
  float: right;
}

.home_grids_v {
  /*padding-top: 2.48rem;*/
  clear:both;
  box-sizing: border-box;
}

.home_grids {
  margin-top: -.34rem;
  overflow: hidden;
  background: #fff;
  display: block;
}

.home_grids_left{
  height: 3.6rem;
  border-right: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
  float: left;
  width: 50%;
  font-size: .427rem;
  color: #877a73;
  padding: .2rem;
  box-sizing: border-box;
  position: relative;
}

.home_grids_left_msg {
  margin-right: 1.867rem;
  height: 2rem;
  overflow: hidden;
}

.home_grids_left_msg_title {
  line-height: 1;
  margin-top: .2rem;
  font-size: .38rem;
  margin-left: .2rem;
  -webkit-tap-highlight-color: transparent;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}

.home_grids_left_msg_text {
  font-size: .25rem;
  margin-top: .213rem;
  margin-left: .2rem;
  color: #fda900;
  -webkit-tap-highlight-color: transparent;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}

.home_grids_left_msg_img{
  width: 1.8rem;
  height: auto;
  top: 1.55rem;
  left: 50%;
  margin-left: -.9rem;
  position: absolute;
  border: none;
  right: .4rem;
}

.home_grids_top{
  border-bottom: 1px solid #d9d9d9;
  float: left;
  width: 50%;
  font-size: .427rem;
  color: #877a73;
  padding: .2rem;
  box-sizing: border-box;
  height: 1.8rem;
  position: relative;
}

.home_grids_top_msg {
  margin-right: 1.867rem;
  height: 2rem;
  overflow: hidden;
}

.home_grids_top_msg_title {
  line-height: 1;
  margin-top: .2rem;
  font-size: .38rem;
  margin-left: .2rem;
  -webkit-tap-highlight-color: transparent;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}

.home_grids_top_msg_text {
  font-size: .25rem;
  margin-top: .213rem;
  margin-left: .2rem;
  color: #fda900;
  -webkit-tap-highlight-color: transparent;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}

.home_grids_top_msg_img{
  width: 1.5rem;
  height: 1.5rem;
  position: absolute;
  border: none;
  right: .4rem;
  top: .15rem;
}

.home_grids_bottom{
  border-bottom: 1px solid #d9d9d9;
  float: left;
  width: 50%;
  font-size: .427rem;
  color: #877a73;
  padding: .2rem;
  box-sizing: border-box;
  height: 1.8rem;
  position: relative;
}

.home_grids_bottom_msg {
  margin-right: 1.867rem;
  height: 2rem;
  overflow: hidden;
}

.home_grids_bottom_msg_title {
  line-height: 1;
  margin-top: .2rem;
  font-size: .38rem;
  margin-left: .2rem;
  -webkit-tap-highlight-color: transparent;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}

.home_grids_bottom_msg_text {
  font-size: .25rem;
  margin-top: .213rem;
  margin-left: .2rem;
  color: #fda900;
  -webkit-tap-highlight-color: transparent;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}

.home_grids_bottom_msg_img{
  width: 1.5rem;
  height: 1.5rem;
  position: absolute;
  border: none;
  right: .4rem;
  top: .15rem;
}

.fenlei{
  width: 90%;
  vertical-align:middle;
  color: #717171;
  height: 1rem;

}

.grid{
  width: 100%;
  backgroundColor:#fdde4a;
  float: left;
}

.split_line {
  color: hsla(21,8%,49%,.7);
  text-align: center;
  height: 1.067rem;
  line-height: 1.067rem;
  vertical-align: middle;
  font-size: 0;
}

.split_line_line {
  height: 1px;
  background-color: #fdde4a;
  width: 12%;
  display: inline-block;
  margin-bottom: 3px;
}

.split_line_text {
  font-size: .32rem;
}
