.sectionTop1 {
  padding-top: 2.3rem;
}

/*.sectionTop2 {
  padding-top: 1.5rem;
}*/

.fixedTop {
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fdde4a;
}

.navTitle {
  color: #333;
  font-weight: 700;
  font-size: 0.45rem;
}

.back {
  color: #333;
  font-size: 0.36rem;
}

.back_icon {
  color: #333;
}

.navbar {
  background-color: #fdde4a;


}

